<% layout("/layouts/boilerplate") %>
    <link rel="stylesheet" href="/css/imp.css">

    <body>
        <div class="content mb-3">
            <marquee>
                <h3>Welcome Harshit , How are you ?</h3>
                <h6>Here you will find important things about Study Materails,contest,past year papers..</h6>
            </marquee>
        </div>
        <div class="content-box">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="/syallbus" class=" mb-3 btn btn-outline-dark card-link">Syallbus</a><br>
                  <a href="#" class="card-link btn btn-outline-dark">Another link</a>
                </div>
            </div>
        </div>
    </body>